USE [master]
GO
CREATE DATABASE [ITProjectsManager]
GO
USE [ITProjectsManager]
GO
/****** Object:  Table [dbo].[ProjectResources]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResources](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ResourceName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProjectResources] PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectRole]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRole](
	[ProjectRoleID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectRoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProjectRole] PRIMARY KEY CLUSTERED 
(
	[ProjectRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [date] NOT NULL,
	[Deadline] [date] NOT NULL,
	[Priority] [nvarchar](50) NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStages]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStages](
	[StageID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[StageName] [nvarchar](100) NOT NULL,
	[StageDescription] [nvarchar](500) NULL,
	[StageNumber] [int] NOT NULL,
	[PlannedStartDate] [date] NULL,
	[PlannedEndDate] [date] NULL,
	[ActualStartDate] [date] NULL,
	[ActualEndDate] [date] NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_ProjectStages] PRIMARY KEY CLUSTERED 
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectUsers]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectUsers](
	[ProjectUserID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ProjectRoleID] [int] NOT NULL,
	[AssignedDate] [date] NULL,
 CONSTRAINT [PK_ProjectUsers] PRIMARY KEY CLUSTERED 
(
	[ProjectUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[ReportName] [nvarchar](100) NULL,
	[GeneratedBy] [int] NULL,
	[GenerationDate] [date] NULL,
	[ReportData] [nvarchar](max) NULL,
	[FilePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskComments]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentText] [nvarchar](500) NOT NULL,
	[CommentDate] [date] NULL,
 CONSTRAINT [PK_TaskComments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[StageID] [int] NULL,
	[TaskName] [nvarchar](100) NOT NULL,
	[TaskDescription] [nvarchar](500) NULL,
	[AssignedTo] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[Priority] [nvarchar](50) NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.12.2025 14:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProjectResources] ON 

INSERT [dbo].[ProjectResources] ([ResourceID], [ProjectID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (1, 1, N'Серверы приложений', 3, CAST(150000.00 AS Decimal(10, 2)), N'Виртуальные серверы для развертывания CRM системы')
INSERT [dbo].[ProjectResources] ([ResourceID], [ProjectID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (2, 1, N'Лицензии PostgreSQL', 1, CAST(50000.00 AS Decimal(10, 2)), N'Коммерческая лицензия СУБД')
INSERT [dbo].[ProjectResources] ([ResourceID], [ProjectID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (3, 1, N'SSL сертификаты', 2, CAST(15000.00 AS Decimal(10, 2)), N'Сертификаты безопасности для доменов')
SET IDENTITY_INSERT [dbo].[ProjectResources] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectRole] ON 

INSERT [dbo].[ProjectRole] ([ProjectRoleID], [ProjectRoleName]) VALUES (1, N'Руководитель проекта')
INSERT [dbo].[ProjectRole] ([ProjectRoleID], [ProjectRoleName]) VALUES (2, N'Архитектор')
INSERT [dbo].[ProjectRole] ([ProjectRoleID], [ProjectRoleName]) VALUES (3, N'Бэкенд-разработчик')
SET IDENTITY_INSERT [dbo].[ProjectRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [Deadline], [Priority], [StatusID]) VALUES (1, N'Разработка CRM системы', N'Создание системы управления взаимоотношениями с клиентами для автоматизации продаж', CAST(N'2025-01-15' AS Date), CAST(N'2025-12-20' AS Date), N'Высокий', 2)
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [Deadline], [Priority], [StatusID]) VALUES (2, N'Мобильное приложение для доставки еды', N'Разработка кроссплатформенного мобильного приложения с системой онлайн-оплаты', CAST(N'2025-02-01' AS Date), CAST(N'2025-08-15' AS Date), N'Средний', 1)
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [Deadline], [Priority], [StatusID]) VALUES (3, N'Обновление корпоративного портала', N'Редизайн и улучшение функциональности внутреннего портала компании', CAST(N'2025-03-10' AS Date), CAST(N'2025-05-20' AS Date), N'Низкий', 3)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectStages] ON 

INSERT [dbo].[ProjectStages] ([StageID], [ProjectID], [StageName], [StageDescription], [StageNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (1, 1, N'Анализ требований', N'Сбор и анализ требований заказчика', 1, CAST(N'2025-01-15' AS Date), CAST(N'2025-01-30' AS Date), CAST(N'2025-01-15' AS Date), CAST(N'2025-01-28' AS Date), 3)
INSERT [dbo].[ProjectStages] ([StageID], [ProjectID], [StageName], [StageDescription], [StageNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (2, 1, N'Проектирование архитектуры', N'Разработка архитектуры системы и БД', 2, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-20' AS Date), CAST(N'2025-02-01' AS Date), NULL, 2)
INSERT [dbo].[ProjectStages] ([StageID], [ProjectID], [StageName], [StageDescription], [StageNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (3, 1, N'Разработка backend', N'Написание серверной части приложения', 3, CAST(N'2025-02-21' AS Date), CAST(N'2025-04-15' AS Date), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProjectStages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectUsers] ON 

INSERT [dbo].[ProjectUsers] ([ProjectUserID], [ProjectID], [UserID], [ProjectRoleID], [AssignedDate]) VALUES (2, 1, 3, 3, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[ProjectUsers] ([ProjectUserID], [ProjectID], [UserID], [ProjectRoleID], [AssignedDate]) VALUES (4, 1, 6, 4, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[ProjectUsers] ([ProjectUserID], [ProjectID], [UserID], [ProjectRoleID], [AssignedDate]) VALUES (5, 1, 8, 7, CAST(N'2025-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[ProjectUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [ProjectID], [ReportName], [GeneratedBy], [GenerationDate], [ReportData], [FilePath]) VALUES (1, 2, N'Отчёт по проекту: Мобильное приложение для доставки еды', NULL, CAST(N'2025-11-28' AS Date), N'=== ОТЧЁТ ПО ПРОЕКТУ ===
Название: Мобильное приложение для доставки еды
Описание: Разработка кроссплатформенного мобильного приложения с системой онлайн-оплаты
Дедлайн: 15.08.2025 0:00:00
', N'')
INSERT [dbo].[Reports] ([ReportID], [ProjectID], [ReportName], [GeneratedBy], [GenerationDate], [ReportData], [FilePath]) VALUES (2, 2, N'Отчёт по задачам проекта: Мобильное приложение для доставки еды', NULL, CAST(N'2025-11-28' AS Date), N'Исследование целевой аудитории — в процессе — smirnova
Анализ AppStore/Google Play — в процессе — nikolaev
Прототип главного экрана — не начат — nikolaev
Дизайн меню ресторанов — не начат — nikolaev
Интеграция с платежной системой — не начат — pavlova
Система уведомлений — не начат — pavlova', N'')
INSERT [dbo].[Reports] ([ReportID], [ProjectID], [ReportName], [GeneratedBy], [GenerationDate], [ReportData], [FilePath]) VALUES (3, 2, N'Финальный отчёт: Мобильное приложение для доставки еды', NULL, CAST(N'2025-11-28' AS Date), N'=== ФИНАЛЬНЫЙ ОТЧЁТ ===
Проект: Мобильное приложение для доставки еды
Задачи выполнены: 0 из 6
Прогресс: 0%
', N'')
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (1, N'не начат')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (2, N'в процессе')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (3, N'выполнен')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskComments] ON 

INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [UserID], [CommentText], [CommentDate]) VALUES (1, 1, 6, N'Провел первое интервью с заказчиком. Получил основные требования к системе.', CAST(N'2025-01-16' AS Date))
INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [UserID], [CommentText], [CommentDate]) VALUES (2, 1, 2, N'Отлично! Подготовь презентацию с выводами к завтрашней встрече.', CAST(N'2025-01-16' AS Date))
INSERT [dbo].[TaskComments] ([CommentID], [TaskID], [UserID], [CommentText], [CommentDate]) VALUES (3, 3, 3, N'Завершил проектирование основной схемы БД. Есть вопросы по связям между сущностями.', CAST(N'2025-02-08' AS Date))
SET IDENTITY_INSERT [dbo].[TaskComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [ProjectID], [StageID], [TaskName], [TaskDescription], [AssignedTo], [CreatedBy], [Priority], [StatusID]) VALUES (1, 1, 1, N'Сбор требований', N'Провести интервью с заказчиком и составить ТЗ', 6, 2, N'Средний', 3)
INSERT [dbo].[Tasks] ([TaskID], [ProjectID], [StageID], [TaskName], [TaskDescription], [AssignedTo], [CreatedBy], [Priority], [StatusID]) VALUES (2, 1, 1, N'Анализ конкурентов', N'Исследовать аналогичные CRM системы на рынке', 3, 2, N'Средний', 3)
INSERT [dbo].[Tasks] ([TaskID], [ProjectID], [StageID], [TaskName], [TaskDescription], [AssignedTo], [CreatedBy], [Priority], [StatusID]) VALUES (3, 1, 2, N'Проектирование БД', N'Разработать схему базы данных', 3, 2, N'Высокий', 3)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (2, N'Менеджер проектов')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (3, N'Разработчик')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'ivanov@company.ru', 1, N'ivanov', N'pass123')
INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (2, N'Петров', N'Петр', N'Петрович', N'petrov@company.ru', 2, N'petrov', N'123456')
INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (3, N'Сидорова', N'Анна', N'Сергеевна', N'sidorova@company.ru', 3, N'sidorova', N'pass123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ProjectResources]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResources_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectResources] CHECK CONSTRAINT [FK_ProjectResources_Projects]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Statuses]
GO
ALTER TABLE [dbo].[ProjectStages]  WITH CHECK ADD  CONSTRAINT [FK_ProjectStages_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectStages] CHECK CONSTRAINT [FK_ProjectStages_Projects]
GO
ALTER TABLE [dbo].[ProjectStages]  WITH CHECK ADD  CONSTRAINT [FK_ProjectStages_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[ProjectStages] CHECK CONSTRAINT [FK_ProjectStages_Statuses]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_ProjectRole] FOREIGN KEY([ProjectRoleID])
REFERENCES [dbo].[ProjectRole] ([ProjectRoleID])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_ProjectRole]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_Projects]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_Users]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Projects]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users] FOREIGN KEY([GeneratedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_Tasks]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_ProjectStages] FOREIGN KEY([StageID])
REFERENCES [dbo].[ProjectStages] ([StageID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_ProjectStages]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Statuses]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
USE [master]
GO
