<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="5.0.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="5.0.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.3.0" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="18.3.0.53" targetFramework="net48" />
  <package id="Syncfusion.SfRadialMenu.WPF" version="18.3.0.53" targetFramework="net48" />
  <package id="Syncfusion.SfSchedule.WPF" version="18.3.0.53" targetFramework="net48" />
  <package id="Syncfusion.SfShared.WPF" version="18.3.0.53" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.53" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
</packages>